<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project 2</title>

        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="test.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>  
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Project 2</a> 
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/goals">Goals</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" > Graphs
                    <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/accounts_overview">Accounts Overview</a></li>
                          <li><a href="/hashtag_vs_interaction">Number of #hashtags</a></li>
                          <li><a href="/frequency_vs_interaction">Post Frequency</a></li>
                          <li><a href="/day_of_the_week_vs_post_count">Activity throughout the Week</a></li>
                        </ul>
                </li>
                <li><a href="/conclusion">Conclusion</a></li>
            </ul>
        </div>
        </nav>
        <h1 id="graph1">Activity by Day of the Week</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                        <select id="selAccount" onchange="optionChanged(this.value)"></select>

                        <div id="allChart"></div>
                        <div id="totLikesViewsChart"></div>
                        <div id="avgLikesViewsChart"></div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/day_of_the_week_vs_post_count.js') }}"></script>
    </body>
</html>