<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Project 2</title>

        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="test.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>  
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Project 2</a> 
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="goals.html">Goals</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" > Graphs
                    <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="followersVSfreq.html">Followers vs Post Frequency</a></li>
                            <li><a href="postsVStime.html">Number of posts vs Time</a></li>
                            <li><a href="postsVSlikes.html">Time vs Likes</a></li>
                            <li><a href="hashVSlikes.html ">Number of hashtags vs Likes</a></li>
                        </ul>
                </li>
                <li><a href="conclusion.html">Conclusion</a></li>
            </ul>
        </div>
        </nav>
        <h1 id="graph1">Number of Hashtag vs Number of likes</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                   <img src="#" id="graph1"> 
                </div>
            </div>
        </div>
    </body>
</html>